<!DOCTYPE html>
<html>
  <head>
    <title>Typewriter effect</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="content">
      <div class="container"> <!-- Move the container div here -->
        <div>
          <h1><strong>Manisha Nallakatla</strong></h1>
          <div class="typed-out">Computer Science Student at UNC-Chapel Hill</div>
        </div>
        <img src="assets/Screenshot 2023-05-26 at 10.10.20 PM.png" alt="Manisha Nallakatla" class="profile-image">
      </div>
    </div>

    <div class="line-above"></div>
    <section>About Me</section>
    <div class="info">
      <div class="image-stack" style="float: left;">
        <img src="assets/IMG_8146.jpg" alt="Image 1">
        <img src="assets/IMG_9865.jpg" alt="Image 2">
      </div>
      <p>
        Hello! My name is Manisha Nallakatla and I am a Computer Science major and Data Science minor at the University of North Carolina
        at Chapel Hill. When I was younger, I really enjoyed drawing, making short films, braiding hair, and pretty much anything else that 
        required me to be creative. One of my favorite movies growing up was Iron Man, and I was enamored by the idea of honing my creative
        skills to create something with technology! Thus, my love for coding was born...
      </p>
      <div class="linkedin-link">
        <a href="https://www.linkedin.com/in/manisha-nallakatla/" target="_blank">
          <img src="assets/icone-linkedin-grise.png" alt="LinkedIn Profile" class="linkedin-symbol">
        </a>
      </div>
    </div>
  </body>
</html>